@keyframes hello {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hello:active {

    /*vertical-align: middle;*/
    /*-webkit-transform: perspective(1px) translateZ(0);*/
    /*transform: perspective(1px) translateZ(0);*/
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    transition: ease-in 5s;
}
.hello-grow:hover, .hello-grow:focus, .hello-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}