<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <link rel="stylesheet" href='{% static "css/styles1.css" %}'>
    <link rel="stylesheet" href='{% static "./css/materialize.css" %}'>
    <!--<link rel="stylesheet" href="./css/statsidebar.css">-->
    <script src="https://d3js.org/d3.v5.js"></script>
</head>
<body>
<header>
    <h1>Stats Page</h1>
</header>

<nav>
    <ul>
        <li class="hello"><a href="#section-1">Section 1</a></li>
        <li class="hello"><a href="#section-2">Section 2</a></li>
        <li class="hello"><a href="#section-3">Section 3</a></li>
        <li class="hello"><a href="#section-4">Section 4</a></li>
        <li><a href="#section-5">Section 5</a></li>
        <li><a href="#section-6">Section 6</a></li>
        <li><a href="#section-7">Section 7</a></li>
        <li><a href="#section-8">Section 8</a></li>
        <li><a href="#section-9">Section 9</a></li>
    </ul>
</nav>

<main>
    <section id="section-1">
        <div id="div3"></div>
    </section>
    <section id="section-2">
        <div id="second"></div>
        <h1>Section 2</h1>
        <p>Ratione nulla nam, ipsa dignissimos corrupti veniam nostrum, laudantium asperiores sequi numquam placeat velit voluptate in praesentium non labore unde incidunt laborum maxime quae magni.</p>
    </section>
    <section id="section-3">
        <div id="third"></div>
        <h1>Section 3</h1>
        <p>Soluta quibusdam ad nostrum vel voluptate delectus sequi dolores quia quaerat officia corrupti, aperiam fugit facere debitis repudiandae praesentium sapiente inventore repellendus, nemo commodi alias!</p>
    </section>
    <section id="section-4">
        <div id="fourth"></div>
        <h1>Section 4</h1>
        <p>Aliquid aliquam magnam ducimus similique obcaecati, unde exercitationem laborum incidunt, quas in ipsum inventore nostrum? Blanditiis optio cumque earum iste odio! Alias sint accusamus repudiandae.</p>
    </section>
    <section id="section-5">
        <h1>Section 5</h1>
        <div id="fifth"></div>
        <p>Officia ipsum fugit iure eaque quisquam error tempore earum enim illum, delectus officiis incidunt corrupti aliquid nam quas perspiciatis eveniet doloremque quod labore? Doloremque, ipsum?</p>
    </section>
    <section id="section-6">
        <h1>Section 6</h1>
        <div id="sixth"></div>
        <p>Aperiam repellat dignissimos fugiat possimus esse, suscipit neque nisi libero alias obcaecati ipsam, porro illo corrupti nostrum reprehenderit unde, illum in laudantium impedit. Modi, veniam.</p>
    </section>
    <section id="section-7">
        <h1>Section 7</h1>
        <div id="seventh"></div>
        <p>Cum asperiores temporibus itaque consequatur quod inventore, quia quis explicabo dicta esse minus voluptatem reiciendis eveniet animi, necessitatibus illum dolorem doloremque repellat placeat, dolores eaque.</p>
    </section>
    <section id="section-8">
        <h1>Section 8</h1>
        <div id="eighth"></div>
        <p>Optio qui, omnis itaque rerum iusto molestiae necessitatibus deleniti quod tenetur id perspiciatis voluptatum dolorum quisquam eius ipsum non architecto labore! Distinctio, tenetur. Officiis, necessitatibus?</p>
    </section>
    <section id="section-9">
        <h1>Section 9</h1>
        <div id="ninth"></div>
        <p>Rem iste iure blanditiis excepturi esse nisi corrupti sequi, illo, laborum quo quis quaerat assumenda perspiciatis quod fuga vel laudantium doloribus architecto tempora omnis earum!</p>
    </section>
</main>

<footer>


        <div class="follow">
            <div class="icon first">&commat;</div>
            <div class="icon">&sung;</div>
            <div class="icon">&oplus;</div>
            <div class="icon last">&phone;</div>
            <div class="label">Follow</div>
        </div>
        <div class="share">
            <div class="icon first">&supdsub;</div>
            <div class="icon">&starf;</div>
            <div class="icon">&empty;</div>
            <div class="icon last">&there4;</div>
            <div class="label">Share</div>
        </div>
        <button class="try">
            <span class="text">Try</span>
        </button>
        <button class="buy">
            <span class="price"><small>$</small>19</span>
            <span class="text">Buy</span>
        </button>

</footer>
<script src='{% static "js/script.js" %}'></script>
<script src='{% static "js/materialize.js" %}'></script>
<script src='{% static "js/stateshb.js" %}'></script>
<script src='{% static "js/second.js" %}'></script>
<script src='{% static "js/third.js" %}'></script>
<script src='{% static "js/four.js" %}'></script>
<script src='{% static "js/five.js" %}'></script>
<script src='{% static "js/six.js" %}'></script>
<script src='{% static "js/seven.js" %}'></script>
<script src='{% static "js/eight.js" %}'></script>
<script src='{% static "js/nine.js" %}'></script>
</body>
</html>
