<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Zephyr Statistics </title>
</head>
<body>
    <h1><center> Statistics </center></h1>
    <p>
        {{ state_high_spm }}
        <br><br>
        {{ state_high_no2 }}
        <br><br>
        {{ allstate_so2_no2_rspm_spm }}
        <br><br>
        {{ state_high_so2 }}
        <br><br>
        {{ loc_high_no2 }}
        <br><br>
        {{ loc_high_rspm }}
        <br><br>
        {{ loc_high_spm }}
        <br><br>
        {{ loc_high_so2 }}
        <br><br>
        {{ state_high_rspm }}
    </p>

</body>
</html>