<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} Articles {% endblock head_title %}</title>
    <link rel="icon" href="{% static "img/logo.jpeg" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			  crossorigin="anonymous"></script>
    <style>
    {% block style %}{% endblock style %}
    </style>
</head>
<body style="background-image: linear-gradient(45deg, #EEECF0, #DBD1D4)">

    <!--<div id="fb-root"></div>-->
    <!--<script>(function(d, s, id) {-->
      <!--var js, fjs = d.getElementsByTagName(s)[0];-->
      <!--if (d.getElementById(id)) return;-->
      <!--js = d.createElement(s); js.id = id;-->
      <!--js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';-->
      <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));</script>-->

    <div class='container'>
    {% block content %}{% endblock content %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
